* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
    width: 70%;
    height: 100vh;
}

.new-todo {
    text-align: center;
}

.new-todo input {
    padding: 10px 20px;
    border-radius: 10px;
    border-width: 1px;
    max-width: 300px;
    margin-right: 10px;
}

.new-todo button {
    padding: 10px 20px;
    border-radius: 10px;
    border-width: 1px;
    cursor: pointer;
}

.todos-container {
    margin: 40px;
    border-radius: 10px;
    background-color: #f5f7f7;
    padding: 30px;
}

.todos-container ul {
    list-style: none;
}

.todo {
    border-bottom: 1px solid #dedee1;
    padding: 10px;
    cursor: pointer;
}

.todo:hover {
    background: white;
}

.todo i {
    float: right;
}

.todo i:hover {
    color: #c00;
}